h1 {
	text-align: center;
}
table {
	margin: auto;
	width: 500px;
	height: 500px;
	border-collapse: collapse;
}
div {
	text-align: center;
}
#seconds_left {
	font-size: 400%;
}
button {
	padding: 20px 80px;
}
td {
	border: 3px solid black;
	vertical-align: center;
	text-align: center;
	font-size: 400%;
	padding: 10px 15px;
}
td span {
	font-size: 200%;
}